*.png
*.jpg
*.zip
datasets/DAVIS/
datasets/Indoor/
datasets/YouTubeVOS/
datasets/__MACOSX/
datasets/__pycache__/
datasets/coco_mask/
datasets/irregular_mask/
my_testing/
src/__pycache__/
src/losses/__pycache__/
wireframes/
*.pyc
src/models/__pycache__