# *.png
# *.jpg
*.cpython-36.pyc
*.zip
datasets/DAVIS/
datasets/Indoor/
datasets/YouTubeVOS/
datasets/__MACOSX/
datasets/coco_mask/
datasets/irregular_mask/
my_testing/
wireframes/
*.pyc
*.gif
*.mp4
*__pycache__*
datasets/DAVIS_small/
datasets/YouTubeVOS_small/
ckpt/*
results/*
*.csv
segment_model/
12*
0*